* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about-title {
  background-color: rgb(193, 153, 181);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.2rem, 4vw, 26px);
  font-weight: 700;
  padding: 12px;
  margin-top: 10px;
  border-radius: 20px;
  border: 6px dotted rgb(179, 113, 159);

}
.about-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  min-height: 400px;
  padding: 20px;
  background-color: rgb(193, 153, 181);
  color: white;
  border-radius: 20px;
  border: 4px dotted rgb(179, 113, 159);
}
.about-body, .about-title {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47%;
  height: auto;
  text-align: center;
  font-size: 16px;
}
.about-section img {
  object-fit: contain;
  width: 100%;
  height: auto;
  max-width: 350px;
  border: 4px dotted rgb(179, 113, 159);
  border-radius: 20px;
  transition: border 0.15s;
}
.about-section img:hover {
  border: 4px dotted rgb(172, 64, 230);
}
@media (max-width: 900px) {
  .about-body {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .about-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .about-title {
    font-size: clamp(18px, 5vw, 42px);
  }

  .about-section img {
    width: 80%;
    max-height: none;
  }
}