* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
main {
  margin-top: 20px;
}
.about-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 400px;
  max-height: 475px;
  padding: 20px;
  background-color: rgb(193, 153, 181);
  color: white;
  border-radius: 20px;
  border: 4px dotted rgb(179, 113, 159);
}
.about-body, .about-title {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47%;
  height: auto;
  text-align: center;
  font-size: 16px;
}
.about-section img {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-width: 350px;
  max-height: 450px;
  border: 4px dotted rgb(179, 113, 159);
  border-radius: 20px;
}
@media (max-width: 700px) {
  * {
    overflow: visible;
  }
  .about-body {
    flex-direction: column;
    height: auto;
    max-height: none;
    padding: 20px;
  }

  .about-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .about-title {
    font-size: clamp(18px, 5vw, 42px);
  }

  .about-section img {
    width: 80%;
    max-height: none;
  }
}