.contact-boxset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 20px;
}
.contact-boxset img {
  height: 20px;
  margin-right: 10px;
}
.contact-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: var(--site-color, gray);
    border: 2px solid black;
    border-radius: 12px;
    width: 90%;
    height: 40px;
    margin: 10px auto;
    padding: 6px;
    transition: background-color 0.15s, font-weight 0.15s,
    width 0.15s;
}
.contact-link:hover {
  background-color: rgb(82, 69, 166);
  font-weight: 700;
  width: 92%;
}
.contact-link img {
    height: 80%;
    margin-right: 10px;
}