.contact-boxset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 20px;
}
.contact-boxset img {
  height: 80%;
  margin-right: 10px;
}
.contact-box {
  display: flex;
  background-color: rgb(213, 188, 188);
  border: 2px solid black;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px;
}