body {
  font-family: Nunito Sans, Calibri, sans-serif;
  margin-bottom: 2000px;
  padding: 80px 10px 0 10px;

  background-image: linear-gradient(to bottom, rgba(255, 185, 234, 0.25), rgba(252, 200, 236, 0.85));
  background-color: white; 
  background-attachment: fixed
}