header {
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}
.header-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
  font-size: 30px;
  font-weight: 700;
  background-color: rgb(18, 10, 88);
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 2;
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(19, 27, 139);
}
nav a {
  color: rgb(200, 194, 253);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: background-color 0.15s, color 0.15s;
  text-decoration: none;
}
nav a:hover {
  background-color: rgb(18, 10, 88);
  color:white;
}