.poem-grid, .favorites-grid {
  background-color: rgb(224, 190, 222);
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 5px;
  max-width: 1200px;
  margin: 0 auto;
}
.favorites-grid {
  background-color: rgba(173, 137, 7, 0.312);
}
.poem-container {
  border-radius: 20px;
  min-height: 150px;
  transition: transform 0.2s ease;
}
.poem-button {
  background-color: rgb(252, 200, 236);
  color: black;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: 4px dotted rgb(179, 113, 159);
  border-radius: 20px;
  text-align: center;
  transition: background-color 0.15s, border-color 0.15s;
}
.storybook {
  border-color: rgb(64, 89, 202);
}
.acclimate {
  border-color: rgb(202, 105, 64);
}
.poem-button:hover {
  background-color: rgb(237, 132, 205);
  border-color: black;
}

.poem-window-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  align-items: center;
  border-bottom: 4px dotted rgb(179, 113, 159);
  background-color: rgb(18, 10, 88);
}

.poem-window-footer {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  height: 30px;
  align-items: center;
  justify-content: space-around;
  border-top: 4px dotted rgb(179, 113, 159);
  background-color: rgb(18, 10, 88);
  margin-top: 3.92px;
}

.poem-window-close, .poem-window-favorite {
  background-color: transparent;
  font-weight: 700;
  color: rgb(252, 200, 236);
  height: 100%;
  width: 8%;
  border: none;
}

.poem-window-close {
  padding-left: 10px;
  padding-right: 8px;
  transition: background-color 0.15s, color 0.15s;
}

.poem-window-close:hover {
  background-color: rgb(88, 10, 10);
  color: white;
}

.poem-window-close:active {
  background-color: rgb(165, 18, 18);
  color: white;
}

.poem-window-favorite {
  transition: background-color 0.15s, color 0.15s;
}

.favorited {
  background-color: rgb(245, 189, 5);
  color: black;
}

.poem-window-favorite:hover {
  background-color: rgb(88, 70, 10);
  color: white;
}

.favorited:hover {
  background-color: rgb(190, 150, 19);
  color: black;
}

.poem-window-favorite:active {
  background-color: rgb(190, 150, 19);
  color: black;
}

.favorited:active {
  color: white;
}

.poem-window-date {
  color: rgb(252, 200, 236);
  text-align: right;
  font-style: italic;
  width: 80%;
}

.poem-window-footer-close {
  background-color: transparent;
  font-weight: 700;
  color: rgb(252, 200, 236);
  height: 80%;
  border-radius: 20px;
  transition: background-color 0.15s, color 0.15s;
}

.poem-window-footer-close:hover {
  background-color: rgb(88, 10, 10);
  color: white;
}

.poem-window-footer-close:active {
  background-color: rgb(165, 18, 18);
  color: white;
}

.poem-text-title {
  margin-bottom: 0;
}

.poem-text-container {
  overflow-x: auto;
  width: 100%;
}

.poem-window-text {
  white-space: nowrap;
  line-height: 1.6;
  width: 100%;
}

@media (max-width: 480px) {
  .poem-window-text {
    font-size: clamp(10px, 3.8vw, 16px);
    overflow-x: auto;
    padding: 0 10px;
  }
}

.poem-window {
  padding: 2rem;
  min-width: 80%;
  max-height: 70%;
}

.poem-window::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9) translateY(20px); }
  to { opacity: 1; transform: scale(1) translateY(0); }
}

.poem-window[open] {
  animation: fadeIn 0.5s ease-out forwards;
  
  border: 4px dotted rgb(179, 113, 159);
  background-color: rgb(252, 200, 236);
  border-radius: 20px;
  padding: 30px;
}

@keyframes backdropFadeIn {
  from { background: rgba(0, 0, 0, 0); }
  to { background: rgba(0, 0, 0, 0.7); }
}

.poem-window[open]::backdrop {
  animation: backdropFade 0.5s ease-out forwards;
  backdrop-filter: blur(4px);
}

@keyframes fadeOut {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.9); }
}

@keyframes backdropFadeOut {
  from { background-color: rgba(0, 0, 0, 0.7); }
  to { background-color: rgba(0, 0, 0, 0); }
}

.poem-window.hide {
  animation: fadeOut 0.5s ease-in forwards;
}

.poem-window.hide::backdrop {
  animation: backdropFade 0.5s ease-in forwards;
  backdrop-filter: blur(0px);
  transition: backdrop-filter 0.5s ease-in;
}