dialog {
  padding: 2rem;
  min-width: 80%;
  max-height: 70%;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9) translateY(20px); }
  to { opacity: 1; transform: scale(1) translateY(0); }
}

dialog[open] {
  animation: fadeIn 0.5s ease-out forwards;
  
  border: 4px dotted rgb(179, 113, 159);
  background-color: rgb(252, 200, 236);
  border-radius: 20px;
  padding: 30px;
}

@keyframes backdropFadeIn {
  from { background: rgba(0, 0, 0, 0); }
  to { background: rgba(0, 0, 0, 0.7); }
}

dialog[open]::backdrop {
  animation: backdropFade 0.5s ease-out forwards;
  backdrop-filter: blur(4px);
}

@keyframes fadeOut {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.9); }
}

@keyframes backdropFadeOut {
  from { background-color: rgba(0, 0, 0, 0.7); }
  to { background-color: rgba(0, 0, 0, 0); }
}

dialog.hide {
  animation: fadeOut 0.5s ease-in forwards;
}

dialog.hide::backdrop {
  animation: backdropFade 0.5s ease-in forwards;
  backdrop-filter: blur(0px);
  transition: backdrop-filter 0.5s ease-in;
}