.poem-grid {
  background-color: pink;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 5px;
  max-width: 1200px;
  margin: 0 auto;
}
.poem-container {
  background-color: rgb(193, 153, 181);
  border-radius: 20px;
  min-height: 150px;
  transition: transform 0.2s ease;
}
.poem-container:hover {
  transform: translateY(-5px);
}
.poem-button {
  background-color: rgb(178, 178, 237);
  color: black;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: 4px dotted rgb(179, 113, 159);
  border-radius: 20px;
  text-align: center;
}

dialog {
  padding: 2rem;
  min-width: 80%;
  max-height: 70%;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9) translateY(20px); }
  to { opacity: 1; transform: scale(1) translateY(0); }
}

dialog[open] {
  animation: fadeIn 0.5s ease-out forwards;
  
  border: 4px dotted rgb(179, 113, 159);
  background-color: rgb(252, 200, 236);
  border-radius: 20px;
  padding: 30px;
}

@keyframes backdropFadeIn {
  from { background: rgba(0, 0, 0, 0); }
  to { background: rgba(0, 0, 0, 0.7); }
}

dialog[open]::backdrop {
  animation: backdropFade 0.5s ease-out forwards;
  backdrop-filter: blur(4px);
}

@keyframes fadeOut {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.9); }
}

@keyframes backdropFadeOut {
  from { background-color: rgba(0, 0, 0, 0.7); }
  to { background-color: rgba(0, 0, 0, 0); }
}

dialog.hide {
  animation: fadeOut 0.5s ease-in forwards;
}

dialog.hide::backdrop {
  animation: backdropFade 0.5s ease-in forwards;
  backdrop-filter: blur(0px);
  transition: backdrop-filter 0.5s ease-in;
}